.Nav {
  display: flex;

  .desktop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: #ff8d29;
    width: 100vw;
    z-index: 5;
  }
  .NavLogo {
    width: 55vw;

    .logo {
      width: 20vw;
    }

    h3 {
      margin-left: 2vw;

      a {
        color: #fff;
      }
    }
  }

  .Navigation {
    width: 42vw;
    margin-right: 3vw;
    display: flex;
    // background: green;

    flex-wrap: wrap;

    a {
      flex-grow: 1;
      flex-basis: 01;
      color: #fff;
      transition: 1s ease;

      &:hover {
        background: #5fc4ff;
        color: #fff;
      }

      h4 {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}

.activeLink {
  background: #5fc4ff;

  h4 {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .Nav .desktop {
    display: none;
  }
}
