.SingleContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .Container {
    margin-top: 8vh;
    height: 90%;
    width: 80vw;
    display: flex;

    .img {
      width: 55%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 78px -20px #ababab;
    }

    .info {
      width: 55%;
      margin-left: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;

      h1 {
        font-size: 40px;
      }

      h3 {
        font-size: 25px;
        font-weight: 400;
      }

      a {
        color: #fff;
        border: 1px solid #fff;
        padding: 1vh 2vw;
        transition: 1s ease;

        &:hover {
          background: #fff;
          color: #333;
        }

        h4 {
          width: 100%;
          margin: 0;
          height: 100%;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .SingleContent {
    .Container {
      .info {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .SingleContent {
    .Container {
      flex-direction: column;
      margin-top: 0;
      align-items: center;
      height: 95%;

      .img {
        width: 65%;
        height: 80%;
      }

      .info {
        width: 80%;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .SingleContent {
    .Container {
      .img {
        width: 90%;
        height: 80%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .SingleContent {
    .Container {
      margin-top: 15vh;
      height: 90%;
      .img {
        width: 70%;
        height: 60%;
      }

      .info {
        width: 90%;
        h1 {
          font-size: 20px;
        }

        h3 {
          font-size: 20px;
        }

        a {
          padding: 1vh 5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .SingleContent {
    height: 100%;

    .Container {
      margin-top: 10vh;
      .img {
        height: 140vh;
      }

      .info {
        margin-bottom: 5vh;
      }
    }
  }
}
