.Footer {
  background: #eeefee;
  height: 7vh;
  display: flex;
  align-items: center;

  h5 {
    width: 40%;
    font-weight: 400;
    font-size: 1em;
    // text-align: center;
    margin: 0;
    margin-left: 2vw;
  }

  .logos {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    align-items: center;

    i {
      margin: 0 1vw;
      cursor: pointer;
      transition: 1s ease;

      &:hover {
        color: #ff8d29;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Footer {
    .logos {
      i {
        font-size: 30px;
        margin: 0 1.5vw;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Footer {
    height: 100%;

    .logos {
      padding: 5vh 2vw 5vh 0;
      i {
        font-size: 30px;
        margin: 0 1vw;
      }
    }
  }
}
