.Items {
  height: 100%;
  display: flex;
  width: 95vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  .clothingItem {
    height: 60vh;
    width: 30%;
    // margin: 1vh 0%;
    margin: 1vh 1.5%;

    .img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 0%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      width: 100%;

      .desc {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        color: #fff;
        cursor: pointer;
        transition: 1s ease;

        &:hover {
          opacity: 1;
        }

        h3 {
          width: 90%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

  .watches {
    width: 20%;
    margin: 1vh 1.5%;

    .img {
      background-size: contain;
    }
  }

  .shoe {
    .img {
      background-size: contain;
    }
  }
}

@media screen and (max-width: 1192px) {
  .Items {
    .pants {
      width: 30%;
      .img {
        background-size: cover;
      }
    }

    .shoe,
    .wallets {
      width: 47%;

      .img {
        background-size: cover;
      }
    }

    .watches {
      width: 47%;

      .img {
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .Items {
    .clothingItem {
      width: 47%;
      margin: 0.5vh 1.5%;

      .img {
        // background-size: cover;
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Items {
    .clothingItem {
      width: 97%;
      height: 70vh;

      .img {
        background-size: cover;
      }
    }

    .watches,
    .pants,
    .wallets {
      .img {
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Items {
    .shoe {
      height: 40vh;
      .img {
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .Items {
    .shoe,
    .wallets {
      height: 47vh;
      .img {
        background-size: contain;
      }
    }
    .pants {
      .img {
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Items {
    .jacket,
    .shirt {
      width: 30%;
      height: 80vh;
      .img {
        background-size: cover;
      }
    }

    .pants,
    .shoe,
    .wallets {
      height: 80vh;
      width: 30%;

      .img {
        background-size: contain;
      }
    }

    .watches {
      height: 80vh;
      width: 20%;
      .img {
        background-size: contain;
      }
    }
  }
}
