.Items {
  height: 100%;
  display: flex;
  width: 95vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  .clothingItem {
    height: 60vh;
    width: 30%;
    margin: 1vh 1.5%;

    .img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 0%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      width: 100%;

      .desc {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        color: #fff;
        cursor: pointer;
        transition: 1s ease;

        &:hover {
          opacity: 1;
        }

        h3 {
          width: 90%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

  .watches {
    width: 20%;

    .img {
      background-size: contain;
    }
  }
}
